doctype html
html
    head
        include headImport.pug
    body
        include navbar.pug
        
        div.container
            p Nothing to see there, you will be redirected anyway. But this page can exist.