nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href="/") Cronexia
    div.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item.active
                a.nav-link(href="/compteurs") Compteurs
